html {
    scroll-behavior: smooth;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

#boxAndLogo {
    background-color: #1d5464;
    width: 17%;
    margin-left: 0.5%;
    border-radius: 10px;
}

#gif {
    width: 75%;
    height: 95%;
    margin-left: 10%;
    border: 2px solid black;
}

#boxForName {
    background-color:#1d5464;   
    width: 82%;
    margin-left: 0.5%;
    padding-left: 25px;
    padding-bottom: 50px;
    box-sizing: border-box;
    border-radius: 10px;
} 

#largename {
    font-size: 90px;
    text-align:left;
    line-height: 20px;
    font-family: 'Noto-Sans', sans-serif;
    color: #facf5a;
}

.column {
    float: left;
    padding: 10px;
    height:165px;
    box-sizing: border-box;
}

.photobox {
    box-sizing: border-box;
}

#profilephoto {
    width: 30%;
    height: 30%;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.sidebarbox {
    box-sizing: border-box;
    height: 1000px;
    width: 17%;
    background-color: #1d5464;   
    float: left;
    margin-top: 5px;
    margin-left: 0.5%;
    border-radius: 10px;
}

.contentbox {
    box-sizing: border-box;
    height: 1000px;
    width: 82%;
    float: left;
    margin-top: 5px;
    margin-left: 0.5%;
    background: url("seigaiha.PNG");
    border-radius: 10px;
    border: 10px #1d5464 solid;
}

.introtext {
    font-size: 22px;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 3%; 
}

#tableofcontents li {
    font-size: 30px;
    padding-top: 30px;
    color: black;
    margin-left: 14%;
    font-family: 'Noto-Sans', sans-serif;
    color: #facf5a;
}

#tableofcontents li a {
    color: #facf5a;
}

#tableofcontents li a:link {
    text-decoration: none;    
}

#tableofcontents li a:hover {
    text-decoration: underline;    
}

#tableofcontents li a:active {
    text-decoration: none;  
}

#tableofcontents li a[href*="http"] {
  background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100%;
  background-size: 16px 16px;
  padding-right: 20px;
}

